body{
  margin: 0;
  overflow: hidden;
  height: 100%;
}
.header{
  border-bottom: 1px solid #e5e5e5;
}
.container{
  margin: auto auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.response{
  margin-top: 150px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  color: #777;
}
.Instructions{
  font-size:32px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p{
  align: left;
  font-size: 1.1em;
}
#note{
  align: center;
  font-size: 80%;
  font-style: italic;
  padding: 1cm;
}