<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Random Dot Motion Task</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/canvas.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/return.js"></script>
  </head>
  <body>
    <div class="container" style="max-width: 730px;">
      <div class="header">
        <h1 style = "color: #777; padding: 0.5cm;" align="left">Random Dot Motion Task</h1>
      </div>
      <br>
      <div class="jumbotron">
        <h4 align="center">Thank you for participating!</h4>
        <br>
        <div align="center">
          <button id="return" style="max-width: 150px;" class="btn btn-lg btn-primary btn-block" type="button">Go again</button>
      	</div>
        </form>
      </div>
    </div>
  </body>
</html>
