<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Random Dot Motion Task</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/canvas.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/sub.js"></script>
  </head>
  <body>
    <div class="container" style="max-width: 730px;">
      <div class="header">
        <h1 style = "color: #777; padding: 0.5cm;" align="left">Random Dot Motion Task</h1>
      </div>
      <br>
      <div class="jumbotron">
        <h4>In this experiment, you will see several dots moving about on the screen. Your goal is to identify if the overall pattern of dots is moving to the left or the right. You will do this several times, for dot displays with different movement patterns. You can take as long as you like to decide the direction of motion within each trial, and as long as you like to rest up between two trials. We don't expect the experiment to take longer than 15 minutes to complete. <br><br> For a correct response, you will get 10 points. This will keep increasing if you get a streak of correct responses, and reset to 10 points if you get an incorrect response. You can track your progress in the progress bar at the top of the screen. <br><br> Kindly enter the following details and press the submit button to proceed to the experiment.</h4>
        <form style = "padding: 1cm;" class="form-signin" align="center">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputContact" class="sr-only">Number</label>
        <input type="name" name="inputContact" id="inputContact" class="form-control" placeholder="Contact Number" required>
        <br>
        <div align="center">
          <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button" style="max-width: 150px;">Submit</button>
      	</div>
        </form>
      </div>
    </div>
  </body>
</html>
