<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Random Dot Motion Task</title>
    <link href="../static/css/canvas.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-80718454-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="http://dsambrano.com/demos/paper.js"></script>
    <script type="text/javascript" src="../static/js/parameters.js"></script> 
    <script type="text/javascript" src="../static/js/RDMTask.js"></script>
    <script type="text/javascript" src="../static/js/final.js"></script>
    <script type="text/javascript" src="../static/js/finish.js"></script>
  </head>
  <body onload="BeginDemo();">
    <div class = "container">
      <div class="header">
        <h1 style = "color: #777; padding: 0.5cm;" align="left">Random Dot Motion Task</h1>
      </div>
      <br>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div style="padding: 0.5cm;" class="jumbotron" id="Instructions" align="center">
        <h4>To begin a trial, press the space bar. <br>To indicate that the dots are moving to the right, press the 'M' key, and to indicate that dots are moving to the left, press the 'Z' key. <br> It may help to keep a finger of your left hand on the 'Z' key and a finger of your right hand on the 'M' key. <br> Please ask the experimenter if anything seems unclear. </h4>
      </div>
      <p class = "logo" align="center">
        <canvas class="StimElement" id="Canvas" width = 1100 height = 700 style="background:black"></canvas>
      </p>
      <div align="center" id = "Correct" class = "response"> 
        <h1 style = "color: #00e600; font-size: 60px">Correct!</h1>
        Your score is <span id="showscore">{}</span> 
      </div>
      <div align="center" id = "Incorrect" class = "response">  
        <h1 style = "color: #e60000; font-size: 60px">Incorrect</h> 
      </div>
      <div align="center" id = "sub" class="response">
        <h1 style="color: #696969"> Congratulations! <br> Your final score is <span id="showscore2">{}</span> <br> Please press D to submit.</h1>
      </div>
    </div>
  </body>
</html>